body {
	background-color: #1F1F1F;
	color: white;
	font-family: Helvetica,Arial,sans-serif;
	text-align: center;
	}
h1 {
	color: white;
	font-size: 35px;
}
h2 {
	color: white;
	font-size: 28px;
}
h3 {
	color: white;
	font-size: 24px;
}
h4 {
	color: white;
	font-size: 20px;
}
h5 {
	color: white;
	font-size: 16px;
}
h6 {
	color: white;
	font-size: 12px;
}
p {
	color: white;
	font-size: 18px;
}
ul {
  list-style: circle;
  color: #888;
}
a:link {
  color: lightblue;
}
a:visited {
  color: lightgrey;
}
div#frame_left {
	position: absolute;
	top: 25%;
	left: 20%;
	width: 20%;
	height: 80%;
	border-style: ridge;
	border-color: lightgrey;
	overflow: auto;
	text-align: center;
	margin: 2%;
}
div#frame_right {
	position: absolute;
	top: 25%;
	left: 45%;
	width: 35%;
	height: 120%;
	margin: 2%;
}
div#index{
        position: relative;
	width: 100%;
	height: 100%;
}
div#pers {
        position: relative;
	width: 100%;
	height: 100%;
}
div#prof {
        position: relative;
	width: 100%;
	height: 140%;
}